main {
    padding: 1rem;
    /* background-color: #0df2c9; */
    background-image: linear-gradient(to right,aquamarine,#0df2c9);
    margin-left: var(--sidebar-width);
    min-height: calc(100vh - var(--header-height ))
}