<mat-drawer-container #sideBar class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="sideBarOpen">
        <div>
            <h1>Estudiantes</h1>
        </div>
        <div>
            <h1>Profesores</h1>
        </div>
        <div>
            <h1>Administradores</h1>
        </div>
        <div>
            <h1>Estudiantes</h1>
        </div>
    </mat-drawer>

    <div class="sidenav-content">
        <ng-content></ng-content>
    </div>
</mat-drawer-container>