<mat-drawer-container #sideBar class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="sideBarOpen">
        <mat-nav-list>
            <a routerLink="home" mat-list-item>
                <div>
                    <h1>Inicio</h1>
                </div>
            </a>
            <a routerLink="login" mat-list-item>
                <div>
                    <h1>Profesores</h1>
                </div>
            </a>
            <a routerLink="login" mat-list-item>
                <div>
                    <h1>Administradores</h1>
                </div>
            </a>
            <a routerLink="home/register" mat-list-item>
                <div>
                    <h1>Estudiantes</h1>
                </div>
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <ng-content></ng-content>
    </div>
</mat-drawer-container>