<div>
    <div class="screen">
        <form class="mb-7 form" [formGroup]="enrollmentModel" *ngIf="this.showForm;">
            <div class="mb-4">
                <mat-form-field>
                    <mat-label>Curso Id</mat-label>
                    <input formControlName="courseId" matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Curso</mat-label>
                    <mat-select formControlName="course" id="inputEnrollmentCourse">
                        <mat-option *ngFor="let course of (coursesList$ | async)"
                            value={{course.curso}}>{{course.curso}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-4">
                <mat-form-field>
                    <mat-label>Alumno Id</mat-label>
                    <input formControlName="userId" matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Alumno</mat-label>
                    <mat-select formControlName="user" id="inputEnrollmentStudent">
                        <mat-option *ngFor="let user of (usersList$ | async)" value={{user?.nombres}}>{{user |
                            fullname: '1'}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="editionNote.length > 0;" class="form-text">
                {{this.editionNote}}
            </div>
            <div class="buttonContainer">
                <button (click)="handleSubmit($event)" type="submit"
                    [ngClass]="{'disabled': !(enrollmentModel.dirty && enrollmentModel.status === 'VALID')}"
                    class="btn btn-primary">Inscribir</button>
                <button (click)="handleCancel($event)" class="btn btn-secondary">Cancelar</button>
            </div>
        </form>
        <div class="mb-5 userTable">
            <div class="addButton" *ngIf="!showForm;">
                <button [disabled]="userRol !== 'admin'" type="submit" (click)="handleShowForm($event)"
                    class="btn btn-success">Agregar</button>
            </div>
            <div *ngIf="(isLoading$ | async); else coursesTable">
                Cargando lista...
            </div>
            <ng-template #coursesTable>
                <app-tabla title="Inscripciones" [dataSource]="(enrollmentList$ | async ) || []"
                    [(selectedId)]="this.selectedId" (updateEnrollment)="handleUpdateEnrollment($event)"
                    (deleteEnrollment)="handleDeleteEnrollment($event)">
                </app-tabla>
            </ng-template>
        </div>
    </div>
</div>