
aside {
    height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    background-color: aquamarine;
    /* background-image: linear-gradient(to right,#0df2c9,aquamarine); */
    position: fixed;
    overflow: auto;
}

aside p {
    margin: 0;
    padding: 1rem;
    margin: 1em 0;
}