.buttonContainer {
    display: flex;
    flex: 1;
    max-width: 50%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

button {
    min-width: 40%;
}

.addButton {
    max-width: 30%;
    margin-bottom: 2%;
}

.form-text {
    color:aqua
}

.form{
    margin: 0 5% 0 2%;
    /* width: 58%; */
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.userTable{
    min-width: 50%;
    max-width: 70%;
    margin: 0 5% 0 5%;
}
.invalid {
    color: #dc3545;
    width: 100%;
    /* margin-top: 0.25rem; */
    font-size: 0.875rem;
}
.screen {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    /* justify-content: space-evenly */
}

.model {
    width: 40%
}