<div class="screen">
    <form class="mb-9 form" [formGroup]="userModel">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                [ngClass]="{'is-valid': userModel.controls.email.touched && !userModel.controls.email.invalid, 'is-invalid': userModel.controls.email.touched && userModel.controls.email.invalid}"
                aria-describedby="emailHelp">
            <div class="valid-feedback">
                ¡Se ve bien!
            </div>
            <!-- <div class="invalid-feedback">
                {{getFieldError("email")}}
            </div> -->
            <div class="invalid-feedback">
                {{this.userModel.controls.email.errors && (this.userModel.controls.email.errors | keyvalue |
                errorMessagesControl)}}
            </div>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control"
                [ngClass]="{'is-valid': userModel.controls.password.touched && !userModel.controls.password.invalid, 'is-invalid': userModel.controls.password.touched && userModel.controls.password.invalid}"
                id="exampleInputPassword1">
            <div class="valid-feedback">
                ¡Se ve bien!
            </div>
            <div class="invalid-feedback">
                {{this.userModel.controls.password.errors && (this.userModel.controls.password.errors | keyvalue |
                errorMessagesControl)}}
                <!-- {{getFieldError("password")}} -->
            </div>
        </div>
        <div class="buttonContainer">
            <button (click)="login($event)" type="submit"
                [ngClass]="{'disabled': !userModel.controls.password.touched || userModel.status === 'INVALID'}"
                class="btn btn-primary">Ingresar</button>
            <button routerLink="/register" class="btn btn-secondary">Register</button>
        </div>
    </form>
</div>