<form>
    <div class="mb-3">
        <label for="exampleInputName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputLastname" class="form-label">Lastname</label>
        <input type="text" class="form-control" id="exampleInputLastname">
    </div>
    <div class="mb-3">
        <label for="exampleInputUser" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="exampleInputUser" aria-describedby="userHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputAge" class="form-label">Edad</label>
        <input type="number" class="form-control" id="exampleInputAge">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="buttonContainer">
        <button type=" submit" disabled class="btn btn-primary">Submit</button>
        <button (click)="handleChangeView($event)" type="register" class="btn btn-secondary">LogIn</button>
    </div>
</form>