<app-header></app-header>
<app-sidebar></app-sidebar>
<header></header>
<app-main-wrapper>
  <b>{{title}}</b>
  <p>Nota final de estudiantes: </p>
  <div [ngStyle]="{'font-size': estudentFontSize}" [ngClass]="estudiante[0].nota > 3 ? 'approved' : 'disaproved'"
    appRoundedBlockDirective [nota]="estudiante[0].nota">
    <p>
      <b>Nombre: </b>{{estudiante[0].nota}}
    </p>
  </div>
  <div [ngStyle]="{'font-size': estudentFontSize}" [ngClass]="estudiante[3].nota > 3 ? 'approved' : 'disaproved'"
    appRoundedBlockDirective [nota]="estudiante[3].nota">
    <p>
      <b>Nombre: </b>{{estudiante[3].nota}}
    </p>
  </div>
</app-main-wrapper>