<div>
    <div class="screen">
        <form class="mb-7 form" [formGroup]="courseModel" *ngIf="this.showForm;">
            <div class="mb-3">
                <label for="inputCourse" class="form-label">Curso</label>
                <input id="inputCourse" formControlName="curso" type="text" class="form-control" id="inputCourse"
                    [ngClass]="{'is-valid': courseModel.controls['curso'].touched && !courseModel.controls['curso'].invalid, 'is-invalid': courseModel.controls['curso'].touched && courseModel.controls['curso'].invalid}"
                    aria-describedby="courseHelp">
                <div class="valid-feedback">
                    ¡Se ve bien!
                </div>
                <div class="invalid-feedback">
                    {{getFieldError("curso")}}
                </div>
            </div>
            <div class="mb-3 col-5">
                <label for="inputCredit" class="form-label">Creditos</label>
                <input id="inputCredit" formControlName="creditos" [min]="this.minCreditNumber"
                    [max]="this.maxCreditNumber" type="number" class="form-control"
                    [ngClass]="{'is-valid': courseModel.controls['creditos'].touched && !courseModel.controls['creditos'].invalid, 'is-invalid': courseModel.controls['creditos'].touched && courseModel.controls['creditos'].invalid}">
                <div class="valid-feedback">
                    ¡Se ve bien!
                </div>
                <!-- <div class="invalid-feedback">
                    {{getFieldError("creditos")}}
                </div> -->
            </div>
            <div class="mb-3 col-6"
                *ngIf="courseModel.controls['creditos'].touched && courseModel.controls['creditos'].invalid"
                class="invalid">
                {{this.courseModel.controls.creditos.errors && (this.courseModel.controls.creditos.errors | keyvalue |
                errorMessagesControl)}}
            </div>
            <div *ngIf="editionNote.length > 0;" class="form-text">
                {{this.editionNote}}
            </div>
            <div class="buttonContainer">
                <button (click)="handleSubmit($event)" type="submit"
                    [ngClass]="{'disabled': !(courseModel.dirty && courseModel.status === 'VALID')}"
                    class="btn btn-primary">Agregar</button>
                <button (click)="handleCancel($event)" class="btn btn-secondary">Cancelar</button>
            </div>
        </form>
        <div class="mb-5 userTable">
            <div class="addButton" *ngIf="!showForm;">
                <button type="submit" (click)="this.showForm = !this.showForm" class="btn btn-success"
                    [disabled]="userRol !== 'admin'">Agregar</button>
            </div>
            <div *ngIf="(isLoading$ | async); else coursesTable">
                Cargando lista...
            </div>
            <ng-template #coursesTable>
                <app-tabla title="Cursos" [dataSource]="(courseList | async ) || []" [(selectedId)]="this.selectedId"
                    (updateCourse)="handleUpdateCourse($event)" (deleteCourse)="handleDeleteCourse($event)">
                </app-tabla>
            </ng-template>
        </div>
    </div>
</div>